<a href="https://colab.research.google.com/github/PARKHYOUNJUNG/phj_lms23/blob/main/PHJ_2day.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

# 2일차 과제

## 문자열

Q1. 홍길동 씨의 주민등록번호는 881120-1068234이다. 홍길동씨의 주민등록번호를 연월일 [YYYYMMDD] 부분과 그 뒤의 숫자 부분으로 나누어 출력해 보자.

In [2]:
pin = "881120-1068234"
yyyymmdd = pin[:6]
num = pin[7:]
print("연월일 : ", yyyymmdd)
print("뒤의숫자 : ", num)

연월일 :  881120
뒤의숫자 :  1068234

Q2. 주민등록번호 뒷자리의 맨 첫 번째 숫자는 성별을 나타낸다. 주민등록번호에서 성별을 나타내는 숫자를 출력해 보자

In [3]:
print("성별 : ", pin[7])

성별 :  1

## 리스트

Q1. [1,3,5,4,2]라는 리스트를 [5,4,3,2,1]로 만들어보자

In [7]:
list_a = [1,3,5,4,2]
list_a.sort(reverse=1)
print(list_a)

[5, 4, 3, 2, 1]

Q2. ['Life','is','too','short']라는 리스트를 Life is too short라는 문자열로 만들어 출력해 보자

In [19]:
list_b = ['Life','is','too','short']
result = (list_b[0]+" "+list_b[1]+" " +list_b[2]+" "+list_b[3])
print(result)

Life is too short

# 튜플

Q1. (1,2,3)이라는 튜플에 4라는 값을 추가하여 (1,2,3,4)처럼 만들어 출력해 보자

In [20]:
tuple_a = (1,2,3)
list_c=list(tuple_a)
list_c.append(4)
tuple_a=tuple(list_c)
print(tuple_a)

(1, 2, 3, 4)

# 딕셔너리

Q1. 딕셔너리 a에서 'B'에 해당되는 값을 추출하고 삭제해 보자.

In [27]:
dic_a = {'A':90, 'B':80, 'C':70}
result=dic_a['B']
dic_a.pop('B')
print(dic_a)
print(result)

{'A': 90, 'C': 70}
80

# 세트

Q1. a리스트에서 중복된 숫자들을 제거해보자

In [29]:
set_a = [1,1,1,2,2,3,3,3,4,4,5]
aSet = set(set_a)
b = list(aSet)
print(b)

[1, 2, 3, 4, 5]

# 변수

Q1. 파이썬은 다음처럼 동일한 값에 여러 개의 변수를 선언할 수 있다. 아래와 같이 a, b 변수를 선언한 후 a의 첫 번째 요소값을 변경하면 b의 값은 어떻게 될까? 그리고 이런 결과가 나오는 이유에 대해서 설명해 보자
답 : 파이썬에서 여러변수에 하나를 담을경우 각 각 데이터를 저장하는 것이 아니라 b는 a의 주소를 가지고 오는 것임, 결국 a가 변하면 b도 변함.
별도 선언 또는 copy() 사용

In [30]:
a = b = [1, 2, 3]
a[1] = 4
print(b)

[1, 4, 3]

Q2.x원을 지불하기 위해서 y원 짜리(또는 z원 짜리) 동전을 몇 개 내야하는지 출력하시오
x = 3928
y = 500
z = 100

In [34]:
x = 3928
y = 500
z = 100
print(str(y) + "원짜리 동전 8개를 내세요")
print(str(z) + "원짜리 동전 40개를 내세요")

500원짜리 동전 8개를 내세요
100원짜리 동전 40개를 내세요

Q3. 세 수의 평균을 구하시오
a = 21.9
b = 37
c = 13.6

In [37]:
a = 21.9
b = 37
c = 13.6

print((a+b+c)/3)

24.166666666666668