<a href="https://colab.research.google.com/github/PARKHYOUNJUNG/phj_lms23/blob/main/PHJ_3days.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

# 3. 3일차 과제

## 3.1.제어문

### 3.1.1.IF 문

Q1. 다음 코드의 결과값은 무엇일까?

In [ ]:
a = "Life is too short, you need python"

if "wife" in a: print("wife")

elif "python" in a and "you" not in a: print("python")

elif "shirt" not in a:print("shirt")

elif "need" in a: print("need")

else: print("none")

shirt

### 3.1.2. While 문

Q1. while문을 이용하여 아래와 같이 별(*)을 표시하는 프로그램을 작성해보자

In [ ]:
i=0
while True:
  if i < 5:
    i=i+1
    print("*"*i)
  else:
    break

*
**
***
****
*****

### 3.1.3. For 문

Q1. A학급에 총 10명의 학생이 있다. 이 학생들의 중간고사 점수는 다음과 같다

[70, 60, 55, 75, 95, 90, 80, 80, 85, 100]

for문을 이용하여 A학급의 평균 점수를 구해 보자

In [ ]:
A = [70, 60, 55, 75, 95, 90, 80, 80, 85, 100]
i=0
sum=0
for i in range(len(A)):
  sum = sum+A[i]
  i = i+1
print(sum/len(A))

79.0

## 3.2. 함수

### 3.2.1. 피보나치 수열

Q1. 첫번째 항의 값이 0이고 두 번째 항의 값이 1일때, 이후에 이어지는 항들은 이전의 두 항을 더한 값으로 이루어지는 수열을 피보나치 수열이라고 한다.

0, 1, 1, 2, 3, 5, 8, 13, ...

입력을 정수n으로 받았을 때, n 이하까지의 피보나치 수열을 출력하는 함수를 작성해보자

In [66]:
def fib(n):
  if i==0:
    B.insert(0,0)
  elif i==1:
    B.insert(1,1)
  else:
    B.insert(i,B[i-2]+B[i-1])
  return B

In [71]:
B=[]
i=0
for i in range(10):
  print(fib(i))
  i=i+1

[0]
[0, 1]
[0, 1, 1]
[0, 1, 1, 2]
[0, 1, 1, 2, 3]
[0, 1, 1, 2, 3, 5]
[0, 1, 1, 2, 3, 5, 8]
[0, 1, 1, 2, 3, 5, 8, 13]
[0, 1, 1, 2, 3, 5, 8, 13, 21]
[0, 1, 1, 2, 3, 5, 8, 13, 21, 34]

### 3.2.2. 문자열 압축하기

Q1. 문자열을 입력 받아 같은 문자가 연속적으로 반복되는 경우에 그 반복 횟수를 표시해 문자열을 압축하여 표시해 보자

In [72]:
def compress_string(s):
  set_str = set(s)
  li_srt = list(set_str)
  result = 
  return result

In [73]:
print(compress_string("aaabbcccccca"))

NameError: ignored