<a href="https://colab.research.google.com/github/PARKHYOUNJUNG/phj_lms23/blob/main/PHJ_3days.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

# 3. 3일차 과제

## 3.1.제어문

### 3.1.1.IF 문

Q1. 다음 코드의 결과값은 무엇일까?

In [ ]:
a = "Life is too short, you need python"

if "wife" in a: print("wife")

elif "python" in a and "you" not in a: print("python")

elif "shirt" not in a:print("shirt")

elif "need" in a: print("need")

else: print("none")

shirt

### 3.1.2. While 문

Q1. while문을 이용하여 아래와 같이 별(*)을 표시하는 프로그램을 작성해보자

In [ ]:
i=0
while True:
  if i < 5:
    i=i+1
    print("*"*i)
  else:
    break

*
**
***
****
*****

### 3.1.3. For 문

Q1. A학급에 총 10명의 학생이 있다. 이 학생들의 중간고사 점수는 다음과 같다

[70, 60, 55, 75, 95, 90, 80, 80, 85, 100]

for문을 이용하여 A학급의 평균 점수를 구해 보자

In [75]:
A = [70, 60, 55, 75, 95, 90, 80, 80, 85, 100]
sum=0
for i in A :
  sum = sum + i
  # i = i+1
print(sum/len(A))

79.0

### 3.1.4. 추가문제

## 3.2. 함수

### 3.2.1. 피보나치 수열

Q1. 첫번째 항의 값이 0이고 두 번째 항의 값이 1일때, 이후에 이어지는 항들은 이전의 두 항을 더한 값으로 이루어지는 수열을 피보나치 수열이라고 한다.

0, 1, 1, 2, 3, 5, 8, 13, ...

입력을 정수n으로 받았을 때, n 이하까지의 피보나치 수열을 출력하는 함수를 작성해보자

In [89]:
def fib(n):
  if n==0:
    B.insert(0,0)
  elif n==1:
    B.insert(1,1)
  else:
    B.insert(n,B[n-2]+B[n-1])
  return B

In [92]:
B=[]
for i in range(10):
  print(fib(i))

[0]
[0, 1]
[0, 1, 1]
[0, 1, 1, 2]
[0, 1, 1, 2, 3]
[0, 1, 1, 2, 3, 5]
[0, 1, 1, 2, 3, 5, 8]
[0, 1, 1, 2, 3, 5, 8, 13]
[0, 1, 1, 2, 3, 5, 8, 13, 21]
[0, 1, 1, 2, 3, 5, 8, 13, 21, 34]

### 3.2.2. 문자열 압축하기

Q1. 문자열을 입력 받아 같은 문자가 연속적으로 반복되는 경우에 그 반복 횟수를 표시해 문자열을 압축하여 표시해 보자

입력예시: aaabbcccccca
출력예시: a3b2c6a1

In [123]:
def compress_string(s):
  li_s=[]
  while len(s) > 0:
    num=s.count(s[0])
    li_s.append(s[0])
    li_s.append(str(num))
    s=s.strip(s[0])
  jo_s=''.join(li_s)
  return jo_s

In [126]:
print(compress_string("aaabbcccccca"))

a4b2c6

### 3.2.3. Duplicate Numbers

Q1. 0 ~ 9 까지의 문자로 된 숫자를 입력받았을 때, 이 입력값이 0 ~ 9까지의 모든 숫자가 각각 한 번씩만 사용된 것인지 확인하는 함수를 작성해 보자.

입력예시 : 0123456789 01234 01234567890 6789012345 012322456789

출력예시 : true false false true false

In [139]:
def chkDupNum(s):
  li_s=s.split(' ')
  k=[]
  for j in li_s:
    for i in j:
      if j.count(i) > 1:
        result=0
        break
      else:
        result=1
    k.append(str(bool(result)))
  jo_k=' '.join(k)
  return jo_k

In [141]:
print(chkDupNum("0123456789 01234 01234567890 6789012345 012322456789"))

print(chkDupNum("0123456789"))
print(chkDupNum("01234"))
print(chkDupNum("01234567890"))
print(chkDupNum("6789012345"))
print(chkDupNum("012322456789"))

True True False True False
True
True
False
True
False

## 3.3. 클래스

Q1. 다음과 같이 동작하는 클래스 Calculator를 작성해 보자.

cal1 = Calculator([1,2,3,4,5])

cal1.sum() # 15

cal1.avg() # 3.0

cal2 = Calculator([6,7,8,9,10])

cal2.sum() # 40

cal2.avg() #8.0

In [166]:
class Calculator:
  def __init__(self, numberList):
    self.numberList = numberList

  def sum(self):
    return sum(self.numberList)

  def avg(self):
    return 8

In [167]:
cal1 = Calculator([1,2,3,4,5])
print(cal1.sum()) # 15
print(cal1.avg()) # 3.0

TypeError: ignored

In [171]:
lis=[1,2,3,4,5]
sum(lis)

TypeError: ignored